<?php if (($_faqItems = $this->getFaqItems()) && count($_faqItems)): ?>
    <div class="faq-mini-container">
        <div class="faq-items">
            <?php $_columnCount = $this->getColumnCount(); ?>
            <?php $i=0; foreach ($_faqItems as $_item): ?>
                <?php if ($i++%$_columnCount == 0): ?>
                    <ul class="faq-grid">
                <?php endif ?>
                <li class="item<?php if (($i-1)%$_columnCount == 0): ?> first<?php elseif ($i%$_columnCount == 0): ?> last<?php endif; ?>">
                    <div class="faq-question">
                        <span><strong><?php echo $this->__('Q:'); ?></strong> <?php echo $_item->getQuestion(); ?></span>
                    </div>
                    <div class="answer">
                        <span><strong><?php echo $this->__('A:'); ?></strong> <?php echo $_item->getAnswer(); ?></span>
                    </div>
                </li>
                <?php if ($i%$_columnCount == 0 || $i == count($_faqItems)): ?>
                    </ul>
                <?php endif ?>
            <?php endforeach; ?>
        </div>
    </div>
<?php endif ?>