<?php echo $this->getMessagesBlock()->toHtml(); ?>
    <div class="page-title">
        <h1><?php echo $this->__('Frequently Asked Questions') ?></h1>
    </div>
<?php if (($_faqItems = $this->getFaqCollection()) && $_faqItems->getSize()): ?>
    <div class="faq-container">
        <div class="faq-items">
            <?php echo $this->getPagerHtml(); ?>
            <?php $_columnCount = $this->getColumnCount(); ?>
            <?php $i=0; foreach ($_faqItems as $_item): ?>
                <?php if ($i++%$_columnCount == 0): ?>
                    <ul class="faq-grid">
                <?php endif ?>
                <li class="item<?php if (($i-1)%$_columnCount == 0): ?> first<?php elseif ($i%$_columnCount == 0): ?> last<?php endif; ?>">
                    <div class="faq-question">
                        <span><strong><?php echo $this->__('Q:'); ?></strong> <?php echo $_item->getQuestion(); ?></span>
                    </div>
                    <div class="answer">
                        <span><strong><?php echo $this->__('A:'); ?></strong> <?php echo $_item->getAnswer(); ?></span>
                    </div>
                </li>
                <?php if ($i%$_columnCount == 0 || $i == count($_faqItems)): ?>
                    </ul>
                <?php endif ?>
            <?php endforeach; ?>
            <?php echo $this->getPagerHtml(); ?>
        </div>
    </div>
<?php else: ?>
    <p><?php echo $this->__('Sorry FAQ is under construction. Please, try again later.'); ?></p>
<?php endif ?>